img {
    max-width: 100%;
    height: auto;
}

.top-header {
    background-color: #024282;
    position: relative;
    z-index: 100;
}

.top-header .hotline {
    height: 20px;
    position: relative;
    overflow: hidden;
    width: 200px;
}

.top-header .hotline>* {
    display: inline-block;
    color: #fdb913;
    text-transform: uppercase;
}

.top-header .search {
    background-color: #012b64;
}

.top-header .search::after {
    display: block;
    content: "";
    clear: both;
}

.top-header .search * {
    color: #fff;
}

.top-header .language {
    background-color: #024282;
    position: relative;
    z-index: 2;
}

.top-header .language .btn {
    color: #fdb913;
}

.top-header .language .dropdown-menu {
    min-width: 80px;
}

.top-header .h-wrapper {
    width: 100%;
    padding: 8px 8px 5px 5px;
}

.top-header .hnav {
    padding-left: 105px;
}

.top-header .hnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-header .hnav ul li a {
    color: #fff;
    text-transform: uppercase;
}

.top-header .btn-hnav {
    background-color: #024282;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin: 0 0 0 -15px;
    position: relative;
    z-index: 2;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 99;
}

.header>div>.d-flex {
    height: 100px;
}

.header .h-nav .bdr-round {
    color: #35699b;
    font-size: 22px;
    margin-right: 5px;
    text-align: center;
}

.header .h-nav .txt {
    color: #000;
    font-size: 18px;
}

.header .h-nav a:hover {
    text-decoration: none;
}

.header .h-nav a:hover .txt,
.header .h-nav a:hover i {
    color: #aa914d;
}

.btn-gnav {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    line-height: 1;
    margin: 0 0 0 -50px;
    padding: 0;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 97;
}

.btn-gnav i {
    position: relative;
    z-index: 97;
    font-size: 28px;
    top: -10px;
}

.btn-gnav:after {
    content: "";
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 96;
}

.btn-gnav:before {
    content: "";
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 95;
}

.gnav {
    position: relative;
    z-index: 98;
}

.gnav::after {
    display: block;
    content: "";
    clear: both;
}

.gnav nav {
    padding: 30px 0;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all;
    transition-duration: 300ms;
    z-index: 95;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, 0, 0);
}

.gnav nav.toggled {
    background-color: rgba(2, 66, 130, 0.95);
    bottom: 100%;
    opacity: 1;
    filter: none;
    transform: translate3d(0, 100%, 0);
}

.gnav nav * {
    color: #fff;
}

.gnav nav p {
    font-size: 18px;
    margin: 30px 0 0 30px;
}

.gnav nav p a:hover {
    color: #a99149;
}

.gnav .sub-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
}

.gnav .sub-nav li {
    font-size: 14px;
    padding: 10px 0 0 0;
}

.gnav .sub-nav li a {
    color: #d2d2d2;
}

.gnav .sub-nav li i {
    margin-right: 5px;
}

.gnav .sub-nav li:hover i,
.gnav .sub-nav li:hover a {
    color: #a99149;
}

.sub-page {
    list-style: none;
    margin: 35px 30px 0 30px;
    padding: 0;
}

.sub-page li {
    margin-bottom: 5px;
}

.sub-page .btn {
    width: 100%;
    color: #fff;
    background-color: #42719f;
    text-align: left;
}

.sub-page .btn i {
    color: #fff;
    margin-right: 5px;
}

.sub-page .btn:hover {
    background-color: #fff;
    color: #024282;
}

.sub-page .btn:hover i {
    color: #024282;
}

@media (max-width: 991px) {
    .top-header .hnav {
        padding-left: 15px;
    }
    .btn-gnav {
        background-color: transparent;
        border: 1px solid #eee;
        border-radius: 4px;
        margin: 0;
        padding: 0;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 10px;
        left: auto;
        right: 15px;
        z-index: 97;
    }
    .btn-gnav:before,
    .btn-gnav:after {
        display: none !important;
    }
    .btn-gnav span {
        margin-top: 0;
    }
    .btn-gnav i {
        top: 0;
    }
}

@media (max-width: 575px) {
    .logo img {
        max-width: 200px;
    }
    .btn-gnav {
        top: 7px;
    }
}

.header-shadow .header {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.header-shadow .btn-gnav:before {
    display: block;
}

footer {
    background-color: #024282;
    margin-top: 30px;
}

footer .copyright {
    background-color: #fff;
    color: #2e313a;
}

footer .copyright p {
    margin: 0;
    padding: 15px 0;
}

footer .fnav p {
    color: #fff;
    font-size: 18px;
    margin: 30px 0 15px 0;
}

footer .fnav p a {
    color: #fff;
}

footer .fsub {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .fsub li {
    color: #a1a1a1;
    padding: 5px 0 0 0;
}

footer .fsub li a {
    color: #a1a1a1;
}

footer .fsub li a:hover {
    color: #aa914d;
}

footer .social {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

footer .social li a {
    color: #a1a1a1;
}

#main {
    position: relative;
}

.heading-2 {
    color: #252525;
    font-size: 20px;
    position: relative;
    margin-bottom: 30px;
}

.heading-2:before {
    background-color: #aa914d;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -10px;
    width: 40px;
}

.heading-2 a {
    color: #252525;
    text-decoration: none;
}

.heading-3 {
    font-size: 24px;
    font-weight: lighter;
}

.heading-4 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.heading-blue {
    color: #024282;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-video video,
.post-video iframe {
    width: 100%;
    height: 140px;
}

.post-video .description {
    padding: 15px 15px 0 15px;
    min-height: 236px;
    position: relative;
}

.post-video .post-video .list-style-1 {
    min-height: 176px;
}

.link.blue {
    color: #024282;
}

.event {
    position: relative;
}

.event+.event {
    margin-top: 30px;
}

.event .thumb {
    width: 100px;
    height: 100px;
}

.event .thumb:not([class*="bgm-"]),
.event .thumb:not([class="btn-transparent"]) {
    background-color: #024282;
}

.event .thumb .inner {
    font-size: 24px;
    line-height: 1.2;
}

.event .thumb .inner b {
    font-size: 36px;
}

.event .media-body {
    padding-bottom: 5px;
}

.event .media-body .breadcrumb {
    padding: 0;
}

.event .media-body .breadcrumb:after {
    content: "";
    bottom: 0;
    clear: both;
    border: 1px solid #ccc;
    position: absolute;
    width: 100px;
}

.event .media-body .breadcrumb-item {
    display: inline;
}

.event .media-body .breadcrumb-item+.breadcrumb-item:before {
    content: "|";
    font-family: FontAwesome;
}

.event .media-body .breadcrumb-item+.breadcrumb-item:last-child {
    color: #959595;
}

.event .title,
.event .title a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: none;
}

.event .time {
    color: #aa914d;
}

#slider-main .carousel-item {
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: none;
    height: 420px;
    cursor: pointer;
}

@media (max-width: 767px) {
    #slider-main .carousel-item {
        height: 300px;
    }
}

#slider-main .carousel-item.active,
#slider-main .carousel-item-next,
#slider-main .carousel-item-prev {
    display: block;
}

#slider-main .carousel-caption {
    background-color: rgba(0, 0, 0, 0.45);
    border-bottom: 30px solid transparent;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 130px;
    overflow: hidden;
    padding: 30px 130px 0 30px;
}

@media (max-width: 767px) {
    #slider-main .carousel-caption {
        border-bottom: 15px solid transparent;
        max-height: 100px;
        padding: 15px 100px 0 15px;
    }
}

@media (max-width: 575px) {
    #slider-main .carousel-caption {
        max-height: 70px;
        padding: 15px 70px 0 15px;
    }
}

#slider-main .carousel-caption h3 {
    font-size: 30px;
}

@media (max-width: 991px) {
    #slider-main .carousel-caption h3 {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    #slider-main .carousel-caption h3 {
        font-size: 15px;
    }
}

#slider-main .carousel-controls {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 130px;
    height: 130px;
}

@media (max-width: 767px) {
    #slider-main .carousel-controls {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 575px) {
    #slider-main .carousel-controls {
        width: 70px;
        height: 70px;
    }
}

#slider-main .carousel-controls>* {
    font-size: 48px;
    width: 45%;
}

@media (max-width: 767px) {
    #slider-main .carousel-controls>* {
        font-size: 24px;
    }
}

.multi-slide {
    margin-top: 0;
}

.multi-slide .slide {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 132px !important;
    width: 33.33333%;
    height: 350px;
}

@media (max-width: 991px) {
    .multi-slide .slide {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 100px !important;
        width: 50%;
        height: 220px;
    }
}

@media (max-width: 767px) {
    .multi-slide .slide {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80px !important;
        width: 100%;
        height: 180px;
    }
}

.multi-slide .slide .caption {
    padding: 160px 15% 15px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .multi-slide .slide .caption {
        padding-top: 100px;
    }
}

@media (max-width: 575px) {
    .multi-slide .slide .caption {
        padding-top: 80px;
    }
}

.multi-slide .slide .caption .highlight {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.2;
    display: block;
    display: -webkit-box;
    max-height: 72px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 991px) {
    .multi-slide .slide .caption .highlight {
        font-size: 18px;
        max-height: 58px;
    }
}

@media (max-width: 575px) {
    .multi-slide .slide .caption .highlight {
        font-size: 16px;
        max-height: 43px;
    }
}

.multi-slide .slide .caption .line {
    color: #b7b7b7;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

@media (max-width: 767px) {
    .multi-slide .slide .caption .line {
        font-size: 14px;
    }
}

.sub-slider {
    position: relative;
}

.sub-slider .bx-wrapper .bx-viewport {
    background-color: #024282;
    border: 0;
    box-shadow: none;
    left: 0;
    box-sizing: initial;
}

.sub-slider .bx-wrapper .bx-controls-direction a {
    background-image: none;
    color: #d3d3d3;
    font-size: 24px;
    text-align: center;
    text-indent: 0;
    z-index: 1;
}

.sub-slider .title-carousel {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: 30px;
    width: 100%;
    z-index: 2;
    color: #aa914d;
}

.sub-slider .title-carousel:before {
    background-color: #aa914d;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 50%;
    margin-left: -25px;
    bottom: -20px;
    width: 50px;
}

#content h3.heading-3 {
    color: #636363;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0;
    min-height: 568px;
    background: #edf1f5;
    padding-bottom: 60px;
}

.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}