.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    left: -5px;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../frontend/css/images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: 0.85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../frontend/css/images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../frontend/css/images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../frontend/css/images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../frontend/css/images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: 0.85em;
    padding: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=vietnamese");
body {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.7;
}

.container {
    width: auto !important;
    max-width: 1200px;
}

.bgm-cyan,
.modal[data-modal-color="cyan"] .modal-content,
[data-current-skin="cyan"],
.modal[data-modal-color="cyan"] .modal-content .ha-menu,
[data-current-skin="cyan"] .ha-menu {
    background-color: #00bcd4;
}

.bgm-cyan .dropdown-item:hover,
.modal[data-modal-color="cyan"] .modal-content .dropdown-item:hover,
[data-current-skin="cyan"] .dropdown-item:hover {
    background-color: #00b3ca;
}

.modal[data-modal-color="cyan"] .modal-content .ss-icon,
[data-current-skin="cyan"] .ss-icon {
    color: #00bcd4;
}

.c-cyan {
    color: #00bcd4 !important;
}

.bgm-teal,
.modal[data-modal-color="teal"] .modal-content,
[data-current-skin="teal"],
.modal[data-modal-color="teal"] .modal-content .ha-menu,
[data-current-skin="teal"] .ha-menu {
    background-color: #009688;
}

.bgm-teal .dropdown-item:hover,
.modal[data-modal-color="teal"] .modal-content .dropdown-item:hover,
[data-current-skin="teal"] .dropdown-item:hover {
    background-color: #008c7f;
}

.modal[data-modal-color="teal"] .modal-content .ss-icon,
[data-current-skin="teal"] .ss-icon {
    color: #009688;
}

.c-teal {
    color: #009688 !important;
}

.bgm-amber,
.modal[data-modal-color="amber"] .modal-content,
[data-current-skin="amber"],
.modal[data-modal-color="amber"] .modal-content .ha-menu,
[data-current-skin="amber"] .ha-menu {
    background-color: #ffc107;
}

.bgm-amber .dropdown-item:hover,
.modal[data-modal-color="amber"] .modal-content .dropdown-item:hover,
[data-current-skin="amber"] .dropdown-item:hover {
    background-color: #fcbd00;
}

.modal[data-modal-color="amber"] .modal-content .ss-icon,
[data-current-skin="amber"] .ss-icon {
    color: #ffc107;
}

.c-amber {
    color: #ffc107 !important;
}

.bgm-orange,
.modal[data-modal-color="orange"] .modal-content,
[data-current-skin="orange"],
.modal[data-modal-color="orange"] .modal-content .ha-menu,
[data-current-skin="orange"] .ha-menu {
    background-color: #ff9800;
}

.bgm-orange .dropdown-item:hover,
.modal[data-modal-color="orange"] .modal-content .dropdown-item:hover,
[data-current-skin="orange"] .dropdown-item:hover {
    background-color: #f59200;
}

.modal[data-modal-color="orange"] .modal-content .ss-icon,
[data-current-skin="orange"] .ss-icon {
    color: #ff9800;
}

.c-orange {
    color: #ff9800 !important;
}

.bgm-deeporange,
.modal[data-modal-color="deeporange"] .modal-content,
[data-current-skin="deeporange"],
.modal[data-modal-color="deeporange"] .modal-content .ha-menu,
[data-current-skin="deeporange"] .ha-menu {
    background-color: #ff5722;
}

.bgm-deeporange .dropdown-item:hover,
.modal[data-modal-color="deeporange"] .modal-content .dropdown-item:hover,
[data-current-skin="deeporange"] .dropdown-item:hover {
    background-color: #ff4f18;
}

.modal[data-modal-color="deeporange"] .modal-content .ss-icon,
[data-current-skin="deeporange"] .ss-icon {
    color: #ff5722;
}

.c-deeporange {
    color: #ff5722 !important;
}

.bgm-red,
.modal[data-modal-color="red"] .modal-content,
[data-current-skin="red"],
.modal[data-modal-color="red"] .modal-content .ha-menu,
[data-current-skin="red"] .ha-menu {
    background-color: #f44336;
}

.bgm-red .dropdown-item:hover,
.modal[data-modal-color="red"] .modal-content .dropdown-item:hover,
[data-current-skin="red"] .dropdown-item:hover {
    background-color: #f33a2c;
}

.modal[data-modal-color="red"] .modal-content .ss-icon,
[data-current-skin="red"] .ss-icon {
    color: #f44336;
}

.c-red {
    color: #f44336 !important;
}

.bgm-pink,
.modal[data-modal-color="pink"] .modal-content,
[data-current-skin="pink"],
.modal[data-modal-color="pink"] .modal-content .ha-menu,
[data-current-skin="pink"] .ha-menu {
    background-color: #e91e63;
}

.bgm-pink .dropdown-item:hover,
.modal[data-modal-color="pink"] .modal-content .dropdown-item:hover,
[data-current-skin="pink"] .dropdown-item:hover {
    background-color: #e6175d;
}

.modal[data-modal-color="pink"] .modal-content .ss-icon,
[data-current-skin="pink"] .ss-icon {
    color: #e91e63;
}

.c-pink {
    color: #e91e63 !important;
}

.bgm-lightblue,
.modal[data-modal-color="lightblue"] .modal-content,
[data-current-skin="lightblue"],
.modal[data-modal-color="lightblue"] .modal-content .ha-menu,
[data-current-skin="lightblue"] .ha-menu {
    background-color: #03a9f4;
}

.bgm-lightblue .dropdown-item:hover,
.modal[data-modal-color="lightblue"] .modal-content .dropdown-item:hover,
[data-current-skin="lightblue"] .dropdown-item:hover {
    background-color: #03a2ea;
}

.modal[data-modal-color="lightblue"] .modal-content .ss-icon,
[data-current-skin="lightblue"] .ss-icon {
    color: #03a9f4;
}

.c-lightblue {
    color: #03a9f4 !important;
}

.bgm-blue,
.modal[data-modal-color="blue"] .modal-content,
[data-current-skin="blue"],
.modal[data-modal-color="blue"] .modal-content .ha-menu,
[data-current-skin="blue"] .ha-menu {
    background-color: #2196f3;
}

.bgm-blue .dropdown-item:hover,
.modal[data-modal-color="blue"] .modal-content .dropdown-item:hover,
[data-current-skin="blue"] .dropdown-item:hover {
    background-color: #1791f2;
}

.modal[data-modal-color="blue"] .modal-content .ss-icon,
[data-current-skin="blue"] .ss-icon {
    color: #2196f3;
}

.c-blue {
    color: #2196f3 !important;
}

.bgm-indigo,
.modal[data-modal-color="indigo"] .modal-content,
[data-current-skin="indigo"],
.modal[data-modal-color="indigo"] .modal-content .ha-menu,
[data-current-skin="indigo"] .ha-menu {
    background-color: #3f51b5;
}

.bgm-indigo .dropdown-item:hover,
.modal[data-modal-color="indigo"] .modal-content .dropdown-item:hover,
[data-current-skin="indigo"] .dropdown-item:hover {
    background-color: #3c4ead;
}

.modal[data-modal-color="indigo"] .modal-content .ss-icon,
[data-current-skin="indigo"] .ss-icon {
    color: #3f51b5;
}

.c-indigo {
    color: #3f51b5 !important;
}

.bgm-lime,
.modal[data-modal-color="lime"] .modal-content,
[data-current-skin="lime"],
.modal[data-modal-color="lime"] .modal-content .ha-menu,
[data-current-skin="lime"] .ha-menu {
    background-color: #cddc39;
}

.bgm-lime .dropdown-item:hover,
.modal[data-modal-color="lime"] .modal-content .dropdown-item:hover,
[data-current-skin="lime"] .dropdown-item:hover {
    background-color: #cbda30;
}

.modal[data-modal-color="lime"] .modal-content .ss-icon,
[data-current-skin="lime"] .ss-icon {
    color: #cddc39;
}

.c-lime {
    color: #cddc39 !important;
}

.bgm-yellow,
.modal[data-modal-color="yellow"] .modal-content,
[data-current-skin="yellow"],
.modal[data-modal-color="yellow"] .modal-content .ha-menu,
[data-current-skin="yellow"] .ha-menu {
    background-color: #ffeb3b;
}

.bgm-yellow .dropdown-item:hover,
.modal[data-modal-color="yellow"] .modal-content .dropdown-item:hover,
[data-current-skin="yellow"] .dropdown-item:hover {
    background-color: #ffea31;
}

.modal[data-modal-color="yellow"] .modal-content .ss-icon,
[data-current-skin="yellow"] .ss-icon {
    color: #ffeb3b;
}

.c-yellow {
    color: #ffeb3b !important;
}

.bgm-lightgreen,
.modal[data-modal-color="lightgreen"] .modal-content,
[data-current-skin="lightgreen"],
.modal[data-modal-color="lightgreen"] .modal-content .ha-menu,
[data-current-skin="lightgreen"] .ha-menu {
    background-color: #8bc34a;
}

.bgm-lightgreen .dropdown-item:hover,
.modal[data-modal-color="lightgreen"] .modal-content .dropdown-item:hover,
[data-current-skin="lightgreen"] .dropdown-item:hover {
    background-color: #86c042;
}

.modal[data-modal-color="lightgreen"] .modal-content .ss-icon,
[data-current-skin="lightgreen"] .ss-icon {
    color: #8bc34a;
}

.c-lightgreen {
    color: #8bc34a !important;
}

.bgm-green,
.modal[data-modal-color="green"] .modal-content,
[data-current-skin="green"],
.modal[data-modal-color="green"] .modal-content .ha-menu,
[data-current-skin="green"] .ha-menu {
    background-color: #4caf50;
}

.bgm-green .dropdown-item:hover,
.modal[data-modal-color="green"] .modal-content .dropdown-item:hover,
[data-current-skin="green"] .dropdown-item:hover {
    background-color: #49a84d;
}

.modal[data-modal-color="green"] .modal-content .ss-icon,
[data-current-skin="green"] .ss-icon {
    color: #4caf50;
}

.c-green {
    color: #4caf50 !important;
}

.bgm-purple,
.modal[data-modal-color="purple"] .modal-content,
[data-current-skin="purple"],
.modal[data-modal-color="purple"] .modal-content .ha-menu,
[data-current-skin="purple"] .ha-menu {
    background-color: #9c27b0;
}

.bgm-purple .dropdown-item:hover,
.modal[data-modal-color="purple"] .modal-content .dropdown-item:hover,
[data-current-skin="purple"] .dropdown-item:hover {
    background-color: #9525a8;
}

.modal[data-modal-color="purple"] .modal-content .ss-icon,
[data-current-skin="purple"] .ss-icon {
    color: #9c27b0;
}

.c-purple {
    color: #9c27b0 !important;
}

.bgm-deeppurple,
.modal[data-modal-color="deeppurple"] .modal-content,
[data-current-skin="deeppurple"],
.modal[data-modal-color="deeppurple"] .modal-content .ha-menu,
[data-current-skin="deeppurple"] .ha-menu {
    background-color: #673ab7;
}

.bgm-deeppurple .dropdown-item:hover,
.modal[data-modal-color="deeppurple"] .modal-content .dropdown-item:hover,
[data-current-skin="deeppurple"] .dropdown-item:hover {
    background-color: #6338af;
}

.modal[data-modal-color="deeppurple"] .modal-content .ss-icon,
[data-current-skin="deeppurple"] .ss-icon {
    color: #673ab7;
}

.c-deeppurple {
    color: #673ab7 !important;
}

.bgm-gray,
.modal[data-modal-color="gray"] .modal-content,
[data-current-skin="gray"],
.modal[data-modal-color="gray"] .modal-content .ha-menu,
[data-current-skin="gray"] .ha-menu {
    background-color: #9e9e9e;
}

.bgm-gray .dropdown-item:hover,
.modal[data-modal-color="gray"] .modal-content .dropdown-item:hover,
[data-current-skin="gray"] .dropdown-item:hover {
    background-color: #999;
}

.modal[data-modal-color="gray"] .modal-content .ss-icon,
[data-current-skin="gray"] .ss-icon {
    color: #9e9e9e;
}

.c-gray {
    color: #9e9e9e !important;
}

.bgm-bluegray,
.modal[data-modal-color="bluegray"] .modal-content,
[data-current-skin="bluegray"],
.modal[data-modal-color="bluegray"] .modal-content .ha-menu,
[data-current-skin="bluegray"] .ha-menu {
    background-color: #607d8b;
}

.bgm-bluegray .dropdown-item:hover,
.modal[data-modal-color="bluegray"] .modal-content .dropdown-item:hover,
[data-current-skin="bluegray"] .dropdown-item:hover {
    background-color: #5c7885;
}

.modal[data-modal-color="bluegray"] .modal-content .ss-icon,
[data-current-skin="bluegray"] .ss-icon {
    color: #607d8b;
}

.c-bluegray {
    color: #607d8b !important;
}

.bgm-black,
.modal[data-modal-color="black"] .modal-content,
[data-current-skin="black"],
.modal[data-modal-color="black"] .modal-content .ha-menu,
[data-current-skin="black"] .ha-menu {
    background-color: #000;
}

.bgm-black .dropdown-item:hover,
.modal[data-modal-color="black"] .modal-content .dropdown-item:hover,
[data-current-skin="black"] .dropdown-item:hover {
    background-color: #000;
}

.modal[data-modal-color="black"] .modal-content .ss-icon,
[data-current-skin="black"] .ss-icon {
    color: #000;
}

.c-black {
    color: #000 !important;
}

.bgm-white,
.modal[data-modal-color="white"] .modal-content,
[data-current-skin="white"],
.modal[data-modal-color="white"] .modal-content .ha-menu,
[data-current-skin="white"] .ha-menu {
    background-color: #fff;
}

.bgm-white .dropdown-item:hover,
.modal[data-modal-color="white"] .modal-content .dropdown-item:hover,
[data-current-skin="white"] .dropdown-item:hover {
    background-color: #fafafa;
}

.modal[data-modal-color="white"] .modal-content .ss-icon,
[data-current-skin="white"] .ss-icon {
    color: #fff;
}

.c-white {
    color: #fff !important;
}

.bgm-brown,
.modal[data-modal-color="brown"] .modal-content,
[data-current-skin="brown"],
.modal[data-modal-color="brown"] .modal-content .ha-menu,
[data-current-skin="brown"] .ha-menu {
    background-color: #795548;
}

.bgm-brown .dropdown-item:hover,
.modal[data-modal-color="brown"] .modal-content .dropdown-item:hover,
[data-current-skin="brown"] .dropdown-item:hover {
    background-color: #735144;
}

.modal[data-modal-color="brown"] .modal-content .ss-icon,
[data-current-skin="brown"] .ss-icon {
    color: #795548;
}

.c-brown {
    color: #795548 !important;
}

.bgm-blue-a5,
.modal[data-modal-color="blue-a5"] .modal-content,
[data-current-skin="blue-a5"],
.modal[data-modal-color="blue-a5"] .modal-content .ha-menu,
[data-current-skin="blue-a5"] .ha-menu {
    background-color: #024282;
}

.bgm-blue-a5 .dropdown-item:hover,
.modal[data-modal-color="blue-a5"] .modal-content .dropdown-item:hover,
[data-current-skin="blue-a5"] .dropdown-item:hover {
    background-color: #023d78;
}

.modal[data-modal-color="blue-a5"] .modal-content .ss-icon,
[data-current-skin="blue-a5"] .ss-icon {
    color: #024282;
}

.c-blue-a5 {
    color: #024282 !important;
}

.bgm-lime-a5,
.modal[data-modal-color="lime-a5"] .modal-content,
[data-current-skin="lime-a5"],
.modal[data-modal-color="lime-a5"] .modal-content .ha-menu,
[data-current-skin="lime-a5"] .ha-menu {
    background-color: #aa914d;
}

.bgm-lime-a5 .dropdown-item:hover,
.modal[data-modal-color="lime-a5"] .modal-content .dropdown-item:hover,
[data-current-skin="lime-a5"] .dropdown-item:hover {
    background-color: #a38b4a;
}

.modal[data-modal-color="lime-a5"] .modal-content .ss-icon,
[data-current-skin="lime-a5"] .ss-icon {
    color: #aa914d;
}

.c-lime-a5 {
    color: #aa914d !important;
}

.f-11 {
    font-size: 11px;
}

.f-14 {
    font-size: 14px;
}

.f-16,
.link-old {
    font-size: 16px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-36 {
    font-size: 36px;
}

.btn-transparent {
    background-color: transparent !important;
}

.btn:focus,
.btn.focus {
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.text-underline {
    text-decoration: underline;
}

.border {
    border: 1px solid #d7d7d7;
}

.border-top {
    border-top: 1px solid #d7d7d7;
}

.border-bottom {
    border-bottom: 1px solid #d7d7d7;
}

.pos-ab {
    position: absolute;
}

.f-30 {
    font-size: 30px !important;
}

.lh-125 {
    line-height: 1.25 !important;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.detail-tool {
    margin: 0;
    padding: 0;
}

.detail-tool li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    height: 20px !important;
    line-height: 20px !important;
}

.detail-tool li iframe {
    height: 20px !important;
    line-height: 20px !important;
}

.detail-tool .border-gray a {
    border: 1px solid #e0e0e0;
    display: block;
    padding: 0 10px;
}

.detail-tool .btn-print a {
    color: #81c784;
}

.detail-tool .btn-envelope a {
    color: #616161;
}

.detail-tool .btn-pdf a {
    color: #64b5f6;
}

.tag-list {
    font-size: 14px;
}

.tag-list a {
    font-weight: bold;
    color: #024282;
}

img {
    max-width: 100%;
    height: auto;
}

.content-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 990px;
}